/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-select {
  width: 150px;
}

.buttons {
  text-align: center;
  margin-top: 60px;
}

.grid {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
  grid-gap: 32px;
}