<h1>Space Game!</h1>
<p>Time Taken: {{space.time}}</p>
<div class="grid">
  <ng-select [items]="space.planets"
             bindLabel="name"
             autofocus
             id="firstPlanet"
             (change)="onChange($event, 'first')"
             bindValue="name">
  </ng-select>
  <ng-select [items]="space.planets"
             bindLabel="name"
             autofocus
             id="secPlanet"
             (change)="onChange($event, 'sec')"
             bindValue="name">
  </ng-select>
  <ng-select [items]="space.planets"
             bindLabel="name"
             autofocus
             id="thirPlanet"
             (change)="onChange($event, 'thir')"
             bindValue="name">
  </ng-select>
  <ng-select [items]="space.planets"
             bindLabel="name"
             autofocus
             id="fourPlanet"
             (change)="onChange($event, 'four')"
             bindValue="name">
  </ng-select>
</div>
<p>Vehicles</p>
<div class="grid">
  <table *ngIf="show.includes('first')" id="fir-vehicle">
    <thead>
      #1
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of space.vehicles">

        <td>
          <input type="radio" name="fir-radiogroup" (change)="onVehicleChg($event, 'first')">
        </td>
        <td>{{ vehicle.name }}</td>
      </tr>
    </tbody>
  </table>
  <table *ngIf="show.includes('sec')" id="sec-vehicle">
    <thead>
      #2
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of space.vehicles">

        <td>
          <input type="radio" name="sec-radiogroup" (change)="onVehicleChg($event, 'sec')">
        </td>
        <td>{{ vehicle.name }}</td>
      </tr>
    </tbody>
  </table>
  <table *ngIf="show.includes('thir')" id="thir-vehicle">
    <thead>
      #3
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of space.vehicles">

        <td>
          <input type="radio" name="thir-radiogroup" (change)="onVehicleChg($event, 'thir')">
        </td>
        <td>{{ vehicle.name }}</td>
      </tr>
    </tbody>
  </table>
  <table *ngIf="show.includes('four')" id="four-vehicle">
    <thead>
      #4
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of space.vehicles">

        <td>
          <input type="radio" name="four-radiogroup" (change)="onVehicleChg($event, 'four')">
        </td>
        <td>{{ vehicle.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="buttons">
  <button class="btn btn-primary" (click)="search_queen()">Increment</button>
</div>